# top-most EditorConfig file
root = true

# Typescript and vue files
[*.{ts,tsx,vue}]
indent_style = space
indent_size = 4

# Rust stuff
[*.rs]
indent_style = space
indent_size = 4

# SQL scripts
[*.sql]
indent_style = space
indent_size = 4

# 4 space indentation
[Makefile]
indent_style = tabs
