target
**/*.rs.bk

pkg/
dist/
node_modules

worker-eve_sde_parser/input
mapping_worker/input

.env
config_prod.yaml
DependencyTreeDebug.json
FlatTreeDebug.json
FlatTreeDebug*.json

hidden/

webapp/cypress/downloads
webapp/cypress/screenshots

*.pem

worker-store-cost/fits/*
worker-store-cost/hulls/*
.tanstack
prices.out

experimental
out.sql
