target
**/*.rs.bk

pkg/
dist/
node_modules

libs/eve_sde_parser/output
libs/eve_sde_parser/input
libs/eve_sde_parser/sde
deprecated/event_worker/sde
worker-eve_sde_parser/input

.env
config_prod.yaml
DependencyTreeDebug.json
FlatTreeDebug.json
FlatTreeDebug*.json

hidden/

webapp/cypress/downloads
webapp/cypress/screenshots

*.pem

worker-store-cost/fits/*
worker-store-cost/hulls/*
.tanstack
prices.out

authentication/certs/*.pem
