target
**/*.rs.bk
Cargo.lock

pkg/
dist/
node_modules

libs/eve_sde_parser/output
libs/eve_sde_parser/input
libs/eve_sde_parser/sde
libs/eve_sde_parser_old/output
libs/eve_sde_parser_old/input
libs/eve_sde_parser_old/sde

.env
config_prod.yaml
DependencyTreeDebug.json
FlatTreeDebug.json
FlatTreeDebug*.json

# Google sheets
service_credentials.json

hidden/

k8s/*/secrets.dev.yaml
k8s/*/secrets.prod.yaml

web/cypress/downloads
web/cypress/screenshots

recovery
