services:
  eve-gateway:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: eve-gateway-api
    ports:
      - "9998:9998"
      - "9999:9999"
    env_file: eve-gateway/.env
    volumes:
      - ./eve-gateway/config.toml:/usr/local/bin/config.toml
    network_mode: "host"
    develop:
      watch:
        - action: rebuild
          path: ./target/debug/starfoundry_bin-eve_gateway
        - action: restart
          path: ./eve-gateway/.env
        - action: sync+restart
          path: ./eve-gateway/config.toml
          target: ./usr/local/bin/config.toml
          initial_sync: true

  gateway:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: gateway-api
    ports:
      - "9990:9990"
      - "9991:9991"
    env_file: gateway/.env
    volumes:
      - ./gateway/config.toml:/usr/local/bin/config.toml
    network_mode: "host"
    depends_on:
      - eve-gateway
    develop:
      watch:
        - action: rebuild
          path: ./target/debug/starfoundry_bin-gateway
        - action: restart
          path: ./gateway/.env
        - action: sync+restart
          path: ./gateway/config.toml
          target: ./usr/local/bin/config.toml
          initial_sync: true
