services:
  eve-gateway:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: eve-gateway-api
    ports:
      - "9998:9998"
      - "9999:9999"
    env_file: eve-gateway/.env
    network_mode: "host"
    volumes:
      - ./eve-gateway/config.toml:/usr/local/bin/config.toml
    develop:
      watch:
        - action: sync+restart
          path: ./target/debug/starfoundry_bin-eve_gateway
          target: /usr/local/bin/app
  eve-gateway-worker:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: eve-gateway-worker
    env_file: eve-gateway_worker/.env
    network_mode: "host"
    develop:
      watch:
        - action: sync+restart
          path: ./target/debug/starfoundry_bin-eve_gateway_worker
          target: /usr/local/bin/app

  gateway:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: gateway-api
    ports:
      - "9990:9990"
      - "9991:9991"
    env_file: gateway/.env
    network_mode: "host"
    depends_on:
      - eve-gateway
    volumes:
      - ./gateway/config.toml:/usr/local/bin/config.toml
    develop:
      watch:
        - action: sync+restart
          path: ./target/debug/starfoundry_bin-gateway
          target: /usr/local/bin/app

  #market:
  #  build:
  #    context: .
  #    dockerfile: Dockerfile.dev
  #    target: market-api
  #  ports:
  #    - "9988:9988"
  #    - "9989:9989"
  #  env_file: market/.env
  #  network_mode: "host"
  #  depends_on:
  #    - eve-gateway
  #  develop:
  #    watch:
  #      - action: sync+restart
  #        path: ./target/debug/starfoundry_bin-market
  #        target: /usr/local/bin/app
  market-worker:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: market-worker
    env_file: market_worker/.env
    network_mode: "host"
    volumes:
      - ./market_worker/config.toml:/usr/local/bin/config.toml
    develop:
      watch:
        - action: sync+restart
          path: ./target/debug/starfoundry_bin-market_worker
          target: /usr/local/bin/app

