services:
  eve-gateway:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: eve-gateway-api
    ports:
      - "9998:9998"
      - "9999:9999"
    env_file: eve-gateway/.env
    network_mode: "host"
    volumes:
      - ./eve-gateway/config.toml:/usr/local/bin/config.toml
    develop:
      watch:
        - action: sync+restart
          path: ./target/debug/starfoundry_bin-eve_gateway
          target: /usr/local/bin/app

  gateway:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: gateway-api
    ports:
      - "9990:9990"
      - "9991:9991"
    env_file: gateway/.env
    network_mode: "host"
    depends_on:
      - eve-gateway
    volumes:
      - ./gateway/config.toml:/usr/local/bin/config.toml
    develop:
      watch:
        - action: sync+restart
          path: ./target/debug/starfoundry_bin-gateway
          target: /usr/local/bin/app

