# logging level, recommended configuration for prod
RUST_LOG=warn,sqlx::query=error

# URL of the database, format: `postgres://{username}:{password}@{host}:{port}/{database}`
STARFOUNDRY_EVE_GATEWAY_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dev-sf-eve-gateway
# Address the actual application should listen on
STARFOUNDRY_EVE_GATEWAY_APP_ADDRESS=0.0.0.0:9998
# Address the service application for health checks and metrics should listen on
STARFOUNDRY_EVE_GATEWAY_SERVICE_ADDRESS=0.0.0.0:9999

# User-Agent that is used to communicate with the EVE-API
# For example your in-game name, or another identifier that the EVE-Devs can
# reach you
# e.g. "StarFoundry Eve-Gateway (github.com/chiefomnicron/starfoundry/eve-gateway, 0.0.0)"
STARFOUNDRY_USER_AGENT="{SOME_IDENTIFIER}"

# EVE-API Client API, can be obtained under https://developers.eveonline.com/applications
STARFOUNDRY_EVE_GATEWAY_EVE_CLIENT_ID=
STARFOUNDRY_EVE_GATEWAY_EVE_SECRET_KEY=

# ECDSA private key for JWT
# Generate one using `openssl ecparam -name secp256k1 -genkey -noout -out ec-secp256k1-priv-key.pem`
STARFOUNDRY_EVE_GATEWAY_JWT_ECDSA_PRIVATE="-----BEGIN PRIVATE KEY-----
MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgBENhBhOH/QMyqwMG
mfit6RoxZ4ypfjFFGD3Eb+6mVIuhRANCAASReSoyen7jUiXS26WxeFbvigQmlN2M
d+BUs+4m7ShR0z2EYVXWVaDRorZY2J+PEnc4LrCb3rY8P3zoZikbr8ut
-----END PRIVATE KEY-----"
# Public key part of the above private key `openssl ec -in ec-secp256k1-priv-key.pem -pubout > ec-secp256k1-pub-key.pem`
STARFOUNDRY_EVE_GATEWAY_JWT_ECDSA_PUBLIC="-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEkXkqMnp+41Il0tulsXhW74oEJpTd
jHfgVLPuJu0oUdM9hGFV1lWg0aK2WNifjxJ3OC6wm962PD986GYpG6/LrQ==
-----END PUBLIC KEY-----"
# Issuer of the JWT token TODO:
STARFOUNDRY_EVE_GATEWAY_JWT_ISSUER_DOMAIN=http://localhost